# üêº Pandas Version Management ‚Äì Simple Tasks

In [2]:
import numpy as np
import pandas as pd

In [27]:
#Install a specific Pandas version (for example: pandas==2.1.0) using pip.
#pip install pandas==2.1.0

In [9]:
#Import Pandas and verify the installed version in Python.
print(pd.__version__)

2.3.3

# üêº Pandas Series ‚Äì Practice Questions

In [12]:
#Create a Pandas Series from a list of daily temperatures.
data=[30, 32, 31, 29, 28, 33, 34]
s=pd.Series(data)
print(s)

0    30
1    32
2    31
3    29
4    28
5    33
6    34
dtype: int64

In [14]:
#Create a Pandas Series from a tuple of employee name
employee=("vinodh","viswes","saroji","sattema")
s=pd.Series(employee)
print(s)

0     vinodh
1     viswes
2     saroji
3    sattema
dtype: object

In [15]:
#Create a Pandas Series from a set of unique product IDs.
product_ids = {101, 102, 103, 104}

product_series = pd.Series(list(product_ids))

print(product_series)

0    104
1    101
2    102
3    103
dtype: int64

In [17]:
#Create a Pandas Series from a dictionary where keys are subjects and values are marks.
A={"maths":90,
   "science":95,
   "physics":93
}
B=pd.Series(A)
print(B)

maths      90
science    95
physics    93
dtype: int64

In [18]:
#Create a Pandas Series from a NumPy array of monthly expenses.
A={"food":9000,
   "movie":2000,
   "savings":9300,
   "travel":5000
}
B=pd.Series(A)
print(B)

food       9000
movie      2000
savings    9300
travel     5000
dtype: int64

In [20]:
#Print the index and values of the Series created from the list.
marks=pd.Series([67,56,89,75,98],
                index=['john','prem','vinodh','vis','sar'])
print(marks)

john      67
prem      56
vinodh    89
vis       75
sar       98
dtype: int64

In [21]:
#Print the index and values of the Series created from the tuple.
#Print the index and values of the Series created from the tuple.
marks=pd.Series((67,56,89,75,98),
                index=('john','prem','vinodh','vis','sar'))
print(marks)

john      67
prem      56
vinodh    89
vis       75
sar       98
dtype: int64

In [22]:
#Print the index and values of the Series created from the dictionary.
A={"maths":90,
   "science":95,
   "physics":93
}
B=pd.Series(A)
print(B)

maths      90
science    95
physics    93
dtype: int64

In [23]:
#Create a Series using a list and manually assign custom index labels.
arks=pd.Series([67,56,89,75,98],
                index=['john','prem','vinodh','vis','sar'])
print(marks)

john      67
prem      56
vinodh    89
vis       75
sar       98
dtype: int64

In [24]:
data = {
    "Math": 85,
    "Physics": 78,
    "Chemistry": 82
}

s = pd.Series(data)

print(s.values)

[85 78 82]

In [25]:
#Convert a list of Boolean values into a Pandas Series.
A = [True, False, True, True, False]

bool_series = pd.Series(A)

print(bool_series)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [31]:
#Create a Series from a NumPy array and check its data type.
A =  pd.Series([True, False, True, True, False])
print(A.dtype)

bool

# üêº Pandas DataFrame ‚Äì Practice Questions

In [32]:
#Create a Pandas DataFrame from a list of lists representing student ID, name, and score.
data={
    'ID':[0,1,2,3],
    'name':["A","B","C","D"],
    'score':[85,92,78,90]
}
df=pd.DataFrame(data)
df

   ID name  score
0   0    A     85
1   1    B     92
2   2    C     78
3   3    D     90

In [33]:
#Create a Pandas DataFrame from a dictionary of lists representing product, price, and quantity.
data={
    "product":["Soap","Paste","Brush"],
    "price":[10,20,25],
    "Quantity":[1,3,4]
}
df=pd.DataFrame(data)
df

  product  price  Quantity
0    Soap     10         1
1   Paste     20         3
2   Brush     25         4

In [34]:
#Create a Pandas DataFrame from a NumPy array representing employee data.
data={
    "Employee_ID":[101,102,103],
    "Employee_name":["vinodh","viswes","sarojini"],
    "salary":[10000,20000,30000]
}
df=pd.DataFrame(data)
df

   Employee_ID Employee_name  salary
0          101        vinodh   10000
1          102        viswes   20000
2          103      sarojini   30000

In [35]:
#Assign appropriate column names to the DataFrame created from the list of lists.
data = [
    [1, "Alice", 85],
    [2, "Bob", 78],
    [3, "Charlie", 92]
]

df = pd.DataFrame(data, columns=["ID", "Name", "Marks"])

print(df)

   ID     Name  Marks
0   1    Alice     85
1   2      Bob     78
2   3  Charlie     92

In [36]:
#Assign column names to the DataFrame created from the NumPy array.
arr = np.array([
    [1, "Alice", 85],
    [2, "Bob", 78],
    [3, "Charlie", 92]
])
df = pd.DataFrame(arr, columns=["ID", "Name", "Marks"])
print(df)

  ID     Name Marks
0  1    Alice    85
1  2      Bob    78
2  3  Charlie    92

In [39]:
#Print the shape of each DataFrame created.
arr = np.array([
    [1, "Alice", 85],
    [2, "Bob", 78],
    [3, "Charlie", 92]
])
print(arr.shape)

(3, 3)

In [42]:
#Print the column names of each DataFrame.
df =pd.DataFrame([
    [1, "Alice", 85],
    [2, "Bob", 78],
    [3, "Charlie", 92]
])
print(df.columns)

RangeIndex(start=0, stop=3, step=1)

In [43]:
#Print the index values of one DataFrame.
data = [
    [1, "Alice", 85],
    [2, "Bob", 78],
    [3, "Charlie", 92]
]

df = pd.DataFrame(data, columns=["ID", "Name", "Marks"])
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [44]:
#Display the complete structure (rows and columns) of a DataFrame using attributes.
print(df.shape)      # (rows, columns)
print(df.index)      # row labels
print(df.columns)    # column labels
print(df.dtypes)     # data type of each column

(3, 3)
RangeIndex(start=0, stop=3, step=1)
Index(['ID', 'Name', 'Marks'], dtype='object')
ID        int64
Name     object
Marks     int64
dtype: object

# üêº Observation & Generalization Questions

In [46]:
#Convert a Series created from a dictionary into a DataFram
data = {
    "Math": 85,
    "Physics": 78,
    "Chemistry": 82
}

s = pd.Series(data)

df = s.to_frame(name="Marks")

print(df)

           Marks
Math          85
Physics       78
Chemistry     82

In [47]:
#Convert a Series created from a NumPy array into a DataFrame.
arr = np.array([10, 20, 30, 40])

s = pd.Series(arr)

df = s.to_frame(name="Values")

print(df)

   Values
0      10
1      20
2      30
3      40

In [48]:
#Print the index and column names after converting a Series to a DataFrame.
s = pd.Series([10, 20, 30], name="Scores")
df = s.to_frame()

print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['Scores'], dtype='object')

In [49]:
#Identify the number of rows and columns in the converted DataFrame.
print(df.shape)

(3, 1)

In [53]:
#Create a Series and check its type.
employee=("vinodh","viswes","saroji","sattema")
s=pd.Series(employee)
print(s)
print(s.dtype)

0     vinodh
1     viswes
2     saroji
3    sattema
dtype: object
object

In [54]:
#Create a DataFrame and check its type
data={
    'ID':[0,1,2,3],
    'name':["A","B","C","D"],
    'score':[85,92,78,90]
}
df=pd.DataFrame(data)
df
print(s.dtype)

object

In [55]:
#Compare the output of printing a Series and printing a DataFrame.

s = pd.Series([10, 20, 30], name="Scores")
df = s.to_frame()
print(df)
print(s)

   Scores
0      10
1      20
2      30
0    10
1    20
2    30
Name: Scores, dtype: int64

In [56]:
#Observe how Pandas assigns default index values in Series.
import pandas as pd

s = pd.Series([100, 200, 300])
print(s)

0    100
1    200
2    300
dtype: int64