## Pandas Task - 2

In [1]:
import pandas as pd

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("Coffee_sales_uncleaned.csv")
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10.0,card,thirty eight,Latte,Morning,Fri,Mar,5.0,3.0,01-03-2024,15:50.5
1,twelve,card,NaN,Hot Chocolate,Afternoon,Fri,Mar,5.0,3.0,01-03-2024,19:22.5
2,12.0,card,38.7,lattee,Afternoon,Fri,Mar,5.0,3.0,01-03-2024,20:18.1
3,NaN,card,28.9,Americano,Afternoon,Fri,Mar,5.0,3.0,2024/03/01,46:33.0
4,13.0,card,38.7,Latte,Afternoon,Fri,Mar,5.0,3.0,01-03-2024,8pm
...,...,...,...,...,...,...,...,...,...,...,...
3542,10.0,card,35.76,Cappuccino,Morning,Sun,Mar,7.0,3.0,23-03-2025,34:54.9
3543,14.0,card,35.76,Cocoa,Afternoon,Sun,Mar,7.0,3.0,23-03-2025,43:37.4
3544,14.0,card,35.76,Cocoa,NaN,NaN,Mar,7.0,3.0,23-03-2025,44:16.9
3545,15.0,card,25.96,Americano,Afternoon,Sun,Mar,7.0,3.0,23-03-2025,47:28.7
3546,18.0,card,35.76,Latte,Night,Sun,NaN,7.0,3.0,23-03-2025,NaN

In [8]:
word_to_num = {
    "zero": 0, "one": 1, "two": 2, "three": 3, "four": 4,
    "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9,
    "ten": 10, "eleven": 11, "twelve": 12,
    "thirteen": 13, "fourteen": 14, "fifteen": 15,
    "sixteen": 16, "seventeen": 17, "eighteen": 18,
    "nineteen": 19, "twenty": 20, "twenty-one": 21,
    "twenty-two": 22, "twenty-three": 23
}

df["hour_of_day"] = (
    df["hour_of_day"]
    .astype(str)
    .str.strip()
    .str.lower()
)
df["hour_of_day"] = df["hour_of_day"].replace(word_to_num)
df["hour_of_day"] = pd.to_numeric(df["hour_of_day"], errors="coerce").astype("Int64")
print("Column data type after conversion:")
print(df["hour_of_day"].dtype)
print("\nSample values:")
print(df["hour_of_day"].head(10))

Column data type after conversion:
Int64

Sample values:
0      10
1      12
2      12
3    <NA>
4      13
5      15
6      16
7      18
8      19
9      19
Name: hour_of_day, dtype: Int64

In [9]:
#Convert the money column into float values (fix entries like "thirty eight").
word_to_num = {
    "zero": 0, "one": 1, "two": 2, "three": 3, "four": 4,
    "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9,
    "ten": 10, "eleven": 11, "twelve": 12, "thirteen": 13,
    "fourteen": 14, "fifteen": 15, "sixteen": 16,
    "seventeen": 17, "eighteen": 18, "nineteen": 19,
    "twenty": 20, "thirty": 30, "forty": 40, "fifty": 50,
    "sixty": 60, "seventy": 70, "eighty": 80, "ninety": 90
}
def words_to_number(text):
    if pd.isna(text):
        return None
    text = str(text).strip().lower()
    try:
        return float(text)
    except:
        pass
    
    parts = text.replace("-", " ").split()
    total = 0
    for part in parts:
        if part in word_to_num:
            total += word_to_num[part]
        else:
            return None 
    return float(total)
df["money"] = df["money"].apply(words_to_number)

print("Column data type after conversion:")
print(df["money"].dtype)
print("\nSample values:")
print(df["money"].head(10))

Column data type after conversion:
float64

Sample values:
0    38.0
1     NaN
2    38.7
3    28.9
4    38.7
5    33.8
6    38.7
7    33.8
8    38.7
9    33.8
Name: money, dtype: float64

In [10]:
## Load dataset
df["Date"] = pd.to_datetime(df["Date"], errors="coerce", infer_datetime_format=True)
print("Column data type after conversion:")
print(df["Date"].dtype)

print("\nSample values:")
print(df["Date"].head(10))

print("\nNumber of invalid dates (NaT):")
print(df["Date"].isna().sum())

Column data type after conversion:
datetime64[ns]

Sample values:
0   2024-01-03
1   2024-01-03
2   2024-01-03
3          NaT
4   2024-01-03
5   2024-01-03
6   2024-01-03
7   2024-01-03
8   2024-01-03
9   2024-01-03
Name: Date, dtype: datetime64[ns]

Number of invalid dates (NaT):
2210

In [11]:
# Find the shape (rows, columns) of the dataset.
shape = df.shape

print("Dataset shape (rows, columns):")
print(shape)

Dataset shape (rows, columns):
(3547, 11)

In [12]:
#After dropping missing values, what is the new shape?
df_clean = df.dropna()
print("New shape after dropping missing values:")
print(df_clean.shape)

New shape after dropping missing values:
(797, 11)

In [13]:
#Add a new column and check how the shape changes.
original_shape = df.shape
df["new_column"] = 1
new_shape = df.shape

print("Original shape:", original_shape)
print("New shape after adding a column:", new_shape)

Original shape: (3547, 11)
New shape after adding a column: (3547, 12)

In [14]:
#Use df.df.describe()describe() — what happens to non-numeric columns?
df.describe()

,hour_of_day,money,Weekdaysort,Monthsort,Date,new_column
count,3370.0,3370.000000,3370.000000,3370.000000,1337,3547.0
mean,14.191988,31.656297,3.846291,6.440059,2024-10-09 18:34:44.068810752,1.0
min,6.0,18.120000,1.000000,1.000000,2024-01-03 00:00:00,1.0
25%,10.0,27.920000,2.000000,3.000000,2024-05-08 00:00:00,1.0
50%,14.0,32.820000,4.000000,7.000000,2024-09-07 00:00:00,1.0
75%,18.0,35.760000,6.000000,10.000000,2025-03-02 00:00:00,1.0
max,22.0,38.700000,7.000000,12.000000,2025-12-03 00:00:00,1.0
std,4.235596,4.880474,1.973284,3.497715,NaN,0.0

In [15]:
#Get descriptive statistics for categorical columns using df.describe(include='object').
cat_stats = df.describe(include="object")

print("Descriptive statistics for categorical columns:\n")
print(cat_stats)

Descriptive statistics for categorical columns:

       cash_type          coffee_name Time_of_Day Weekday Month_name     Time
count       3370                 3371        3370    3370       3370     3370
unique         2                    9           3       7         12     3209
top         card  Americano with Milk   Afternoon     Tue        Mar  17:38.7
freq        3369                  761        1150     540        468        3

In [24]:
df_raw=pd.read_csv("Coffee_sales_uncleaned.csv")
df

print("===== BEFORE CLEANING =====")
print(df_raw.describe())
print("\n")

# --- Cleaning numeric columns ---

# Convert hour_of_day
hour_map = {
    "zero": 0, "one": 1, "two": 2, "three": 3, "four": 4,
    "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9,
    "ten": 10, "eleven": 11, "twelve": 12,
    "thirteen": 13, "fourteen": 14, "fifteen": 15,
    "sixteen": 16, "seventeen": 17, "eighteen": 18,
    "nineteen": 19, "twenty": 20, "twenty-one": 21,
    "twenty-two": 22, "twenty-three": 23
}

df_clean = df_raw.copy()

df_clean["hour_of_day"] = (
    df_clean["hour_of_day"]
    .astype(str)
    .str.strip()
    .str.lower()
    .replace(hour_map)
)

df_clean["hour_of_day"] = pd.to_numeric(df_clean["hour_of_day"], errors="coerce")

money_map = {
    "zero": 0, "one": 1, "two": 2, "three": 3, "four": 4,
    "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9,
    "ten": 10, "eleven": 11, "twelve": 12, "thirteen": 13,
    "fourteen": 14, "fifteen": 15, "sixteen": 16,
    "seventeen": 17, "eighteen": 18, "nineteen": 19,
    "twenty": 20, "thirty": 30, "forty": 40, "fifty": 50,
    "sixty": 60, "seventy": 70, "eighty": 80, "ninety": 90
}

def convert_money(x):
    if pd.isna(x):
        return None
    x = str(x).strip().lower()
    try:
        return float(x)
    except:
        parts = x.replace("-", " ").split()
        total = 0
        for p in parts:
            if p in money_map:
                total += money_map[p]
            else:
                return None
        return float(total)

df_clean["money"] = df_clean["money"].apply(convert_money)

print("===== AFTER CLEANING =====")
print(df_clean.describe())

===== BEFORE CLEANING =====
       Weekdaysort    Monthsort
count  3370.000000  3370.000000
mean      3.846291     6.440059
std       1.973284     3.497715
min       1.000000     1.000000
25%       2.000000     3.000000
50%       4.000000     7.000000
75%       6.000000    10.000000
max       7.000000    12.000000


===== AFTER CLEANING =====
       hour_of_day        money  Weekdaysort    Monthsort
count  3370.000000  3370.000000  3370.000000  3370.000000
mean     14.191988    31.656297     3.846291     6.440059
std       4.235596     4.880474     1.973284     3.497715
min       6.000000    18.120000     1.000000     1.000000
25%      10.000000    27.920000     2.000000     3.000000
50%      14.000000    32.820000     4.000000     7.000000
75%      18.000000    35.760000     6.000000    10.000000
max      22.000000    38.700000     7.000000    12.000000

In [26]:
#Extract the coffee_name column as a Series. What is its type?

coffee_series = df["coffee_name"]

print("Type of extracted object:")
print(type(coffee_series))

print("\nData type of the Series:")
print(coffee_series.dtype)

print("\nFirst 5 values:")
print(coffee_series.head())

Type of extracted object:
<class 'pandas.core.series.Series'>

Data type of the Series:
object

First 5 values:
0            Latte
1    Hot Chocolate
2           lattee
3        Americano
4            Latte
Name: coffee_name, dtype: object

In [27]:
#Count the unique coffee names (consider typos like "lattee").

raw_unique_count = df["coffee_name"].nunique()

cleaned_names = df["coffee_name"].astype(str).str.strip().str.lower()
clean_unique_count = cleaned_names.nunique()

print("Unique coffee names (raw):", raw_unique_count)
print("Unique coffee names (after basic cleaning):", clean_unique_count)

print("\nUnique values after cleaning:")
print(sorted(cleaned_names.unique()))

Unique coffee names (raw): 9
Unique coffee names (after basic cleaning): 10

Unique values after cleaning:
['americano', 'americano with milk', 'cappuccino', 'cocoa', 'cortado', 'espresso', 'hot chocolate', 'latte', 'lattee', 'nan']

In [30]:
#Access the first 10 values of the Weekday column as a Series.
cleaned_names = df["coffee_name"].astype(str).str.strip().str.lower()
cleaned_names

0               latte
1       hot chocolate
2              lattee
3           americano
4               latte
            ...
3542       cappuccino
3543            cocoa
3544            cocoa
3545        americano
3546            latte
Name: coffee_name, Length: 3547, dtype: object

In [31]:
#Apply .value_counts() on cash_type and check inconsistent values ("card" vs "CARD ").

print("=== Raw value_counts() ===")
print(df["cash_type"].value_counts(dropna=False))

clean_cash = df["cash_type"].astype(str).str.strip().str.lower()

print("\n=== After Cleaning (strip + lower) ===")
print(clean_cash.value_counts(dropna=False))

=== Raw value_counts() ===
cash_type
card     3369
NaN       177
CARD        1
Name: count, dtype: int64

=== After Cleaning (strip + lower) ===
cash_type
card    3370
nan      177
Name: count, dtype: int64