In [1]:
import pandas as pd

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [7]:
employees = pd.DataFrame({
    'Emp_ID': ['E1', 'E2', 'E3', 'E4'],
    'Name': ['Asha Rao', 'Ravi Kumar', 'Neha Singh', 'Arjun Das'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Email': ['asha.rao@gmail.com', 'ravi_kumar@company.com', 'neha.s@company.com', 'arjun.das@gmail.com'],
    'Join_Date': ['2021-06-15', '2020-01-10', '2022-03-25', '2019-11-05']
})
salaries = pd.DataFrame({
    'Emp_ID': ['E1', 'E2', 'E3', 'E4'],
    'Salary': [60000, 50000, 75000, 65000]
})
df=pd.DataFrame(employees)
print(df)

  Emp_ID        Name Department                   Email   Join_Date
0     E1    Asha Rao         IT      asha.rao@gmail.com  2021-06-15
1     E2  Ravi Kumar         HR  ravi_kumar@company.com  2020-01-10
2     E3  Neha Singh         IT      neha.s@company.com  2022-03-25
3     E4   Arjun Das    Finance     arjun.das@gmail.com  2019-11-05

In [8]:
merged_df = pd.merge(employees, salaries, on='Emp_ID')
print(merged_df.head())

  Emp_ID        Name Department                   Email   Join_Date  Salary
0     E1    Asha Rao         IT      asha.rao@gmail.com  2021-06-15   60000
1     E2  Ravi Kumar         HR  ravi_kumar@company.com  2020-01-10   50000
2     E3  Neha Singh         IT      neha.s@company.com  2022-03-25   75000
3     E4   Arjun Das    Finance     arjun.das@gmail.com  2019-11-05   65000

In [9]:
#2Ô∏è‚É£ Left Merge
#Input
 #All rows from employees
#Expected Output
 #All employees retained even if salary is missing
#Task
 #Merge such that every employee appears in the result.

left_merged_df = pd.merge(employees,salaries,on="Emp_ID",how="left")
print(left_merged_df)

  Emp_ID        Name Department                   Email   Join_Date  Salary
0     E1    Asha Rao         IT      asha.rao@gmail.com  2021-06-15   60000
1     E2  Ravi Kumar         HR  ravi_kumar@company.com  2020-01-10   50000
2     E3  Neha Singh         IT      neha.s@company.com  2022-03-25   75000
3     E4   Arjun Das    Finance     arjun.das@gmail.com  2019-11-05   65000

In [10]:
#3Ô∏è‚É£ Right Merge
#Input
 #All rows from salaries
#Expected Output
 #Only employees present in salary table appear
##Merge ensuring all salary records are preserved.
import pandas as pd

right_merged_df = pd.merge(employees,salaries,on="Emp_ID",how="right")

print(right_merged_df)

  Emp_ID        Name Department                   Email   Join_Date  Salary
0     E1    Asha Rao         IT      asha.rao@gmail.com  2021-06-15   60000
1     E2  Ravi Kumar         HR  ravi_kumar@company.com  2020-01-10   50000
2     E3  Neha Singh         IT      neha.s@company.com  2022-03-25   75000
3     E4   Arjun Das    Finance     arjun.das@gmail.com  2019-11-05   65000

In [11]:
#4Ô∏è‚É£ Inner Merge Condition Check
#Input
 #Merge on Emp_ID
#Expected Output
 #Only matching Emp_ID rows
#Task
 #Create a merged table that keeps only common records.
import pandas as pd

inner_merged_df = pd.merge(employees,salaries,on="Emp_ID",how="inner")

print(inner_merged_df)

  Emp_ID        Name Department                   Email   Join_Date  Salary
0     E1    Asha Rao         IT      asha.rao@gmail.com  2021-06-15   60000
1     E2  Ravi Kumar         HR  ravi_kumar@company.com  2020-01-10   50000
2     E3  Neha Singh         IT      neha.s@company.com  2022-03-25   75000
3     E4   Arjun Das    Finance     arjun.das@gmail.com  2019-11-05   65000

In [12]:
#5Ô∏è‚É£ Selecting Columns After Merge
#Input
 #Merged DataFrame
#Expected Output
#Name
#Department
#Salary
#Task
 #Extract only Name, Department, and Salary from the merged result.
# Assuming merged_df already exists
selected_df = merged_df[["Name", "Department", "Salary"]]

print(selected_df)

         Name Department  Salary
0    Asha Rao         IT   60000
1  Ravi Kumar         HR   50000
2  Neha Singh         IT   75000
3   Arjun Das    Finance   65000

## üîπ PART 2: STRING METHODS (.str)

In [13]:
#6Ô∏è‚É£ Convert Names to Uppercase
##Name column
#Expected Output
#ASHA RAO, RAVI KUMAR, NEHA SINGH, ARJUN DAS
#Task
 #Convert all employee names to uppercase.
# Convert Name column to uppercase
merged_df["Name"] = merged_df["Name"].str.upper()

print(merged_df["Name"])

0      ASHA RAO
1    RAVI KUMAR
2    NEHA SINGH
3     ARJUN DAS
Name: Name, dtype: object

In [14]:
#7Ô∏è‚É£ Extract Email Domain
#Input
 #Email column
#Expected Output
#gmail.com, company.com, company.com, gmail.com
#Task
 #Extract only the domain part from each email.
# Extract domain from Email column
merged_df["Email_Domain"] = merged_df["Email"].str.split("@").str[1]

print(merged_df["Email_Domain"])

0      gmail.com
1    company.com
2    company.com
3      gmail.com
Name: Email_Domain, dtype: object

In [15]:
#8Ô∏è‚É£ Check Company Email
#Input
 #Email column
#Expected Output
#False, True, True, False
#Task
 #Identify which emails belong to the company domain.
# Create boolean column for company email
merged_df["Is_Company_Email"] = merged_df["Email"].str.endswith("company.com")

print(merged_df["Is_Company_Email"])

0    False
1     True
2     True
3    False
Name: Is_Company_Email, dtype: bool

In [16]:
#9Ô∏è‚É£ Replace Spaces in Names
#Input
 #Name column
#Expected Output
#Asha_Rao, Ravi_Kumar, Neha_Singh, Arjun_Das
#Task
 #Replace spaces with underscores.
# Replace spaces with underscores
merged_df["Name"] = merged_df["Name"].str.replace(" ", "_", regex=False)

print(merged_df["Name"])

0      ASHA_RAO
1    RAVI_KUMAR
2    NEHA_SINGH
3     ARJUN_DAS
Name: Name, dtype: object

In [17]:
#üîü Name Length Calculation
#Input
 #Name column
#Expected Output
#8, 10, 10, 9
#Task
# Find the length of each employee name.
# Calculate length of each name
merged_df["Name_Length"] = merged_df["Name"].str.len()

print(merged_df["Name_Length"])

0     8
1    10
2    10
3     9
Name: Name_Length, dtype: int64

## üîπ PART 3: DATETIME CONVERSION

In [18]:
#1Ô∏è‚É£1Ô∏è‚É£ Convert Join_Date to Datetime
#Input
# Join_Date column (string format)
#Expected Output
#datetime64[ns]
#Task
 #Convert the Join_Date column into datetime format.
# Convert Join_Date to datetime
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])

print(merged_df["Join_Date"].dtype)

datetime64[ns]

In [19]:
#1Ô∏è‚É£2Ô∏è‚É£ Extract Year
#Input
 #Join_Date column
#Expected Output
#2021, 2020, 2022, 2019
#Task
 #Extract the year each employee joined.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
merged_df["Join_Year"] = merged_df["Join_Date"].dt.year
print(merged_df["Join_Year"])

0    2021
1    2020
2    2022
3    2019
Name: Join_Year, dtype: int32

In [20]:
#1Ô∏è‚É£3Ô∏è‚É£ Extract Month
#Input
 #Join_Date column
##Expected Output
#6, 1, 3, 11Task
 #Extract the month from Join_Date.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
merged_df["Join_Month"] = merged_df["Join_Date"].dt.month
print(merged_df["Join_Month"])

0     6
1     1
2     3
3    11
Name: Join_Month, dtype: int32

In [21]:
#1Ô∏è‚É£4Ô∏è‚É£ Extract Day
##Join_Date column
#Expected Output
#15, 10, 25, 5
#Task
 #Extract the day of joining.

merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
merged_df["Join_Day"] = merged_df["Join_Date"].dt.day
print(merged_df["Join_Day"])

0    15
1    10
2    25
3     5
Name: Join_Day, dtype: int32

In [22]:
#1Ô∏è‚É£5Ô∏è‚É£ Extract Day Name
#Input
 #Join_Date column
#Expected Output
#Tuesday, Friday, Friday, Tuesday
#Task
 #Find the weekday name for each joining date.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
merged_df["Join_Day_Name"] = merged_df["Join_Date"].dt.day_name()
print(merged_df["Join_Day_Name"])

0    Tuesday
1     Friday
2     Friday
3    Tuesday
Name: Join_Day_Name, dtype: object

## üîπ PART 4: DATE-BASED FILTERING

In [23]:
#1Ô∏è‚É£6Ô∏è‚É£ Employees Joined After 2020
#Input
 #Join_Date > 2020
#Expected Output
#Name
#Join_Dae
#Task
 #Filter employees who joined after the year 2020.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
filtered_df = merged_df[merged_df["Join_Date"] > "2020-12-31"]
result = filtered_df[["Name", "Join_Date"]]
print(result)

         Name  Join_Date
0    ASHA_RAO 2021-06-15
2  NEHA_SINGH 2022-03-25

In [24]:
#1Ô∏è‚É£7Ô∏è‚É£ Employees Joined in IT After 2021
##Department = IT
 #Join year > 2021
#Expected Output
#Name
#Department
#Join_Date
#Task
 #Apply multiple conditions using department and joining year.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
filtered_df = merged_df[
    (merged_df["Department"] == "IT") &
    (merged_df["Join_Date"].dt.year > 2021)
]
result = filtered_df[["Name", "Department", "Join_Date"]]

print(result)

         Name Department  Join_Date
2  NEHA_SINGH         IT 2022-03-25

In [25]:
#1Ô∏è‚É£8Ô∏è‚É£ Add Join Year Column
#Input
 #Join_Date column
#Expected Output
#Name
#Join_Year
#Task
 #Create a new column containing the joining year.
merged_df["Join_Date"] = pd.to_datetime(merged_df["Join_Date"])
merged_df["Join_Year"] = merged_df["Join_Date"].dt.year
result = merged_df[["Name", "Join_Year"]]

print(result)

         Name  Join_Year
0    ASHA_RAO       2021
1  RAVI_KUMAR       2020
2  NEHA_SINGH       2022
3   ARJUN_DAS       2019